# Disable directory listing
Options -Indexes

# Cegah akses ke file yang diawali titik (.htaccess, .env, .gitignore)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Cegah akses ke folder .git dan seluruh isinya menggunakan mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.git - [F,L]
</IfModule>
